<p *ngIf="!order">
  Loading order {{orderId}}...
</p>
<p *ngIf="error">
  An error occurred while loading the order.
</p>
<div *ngIf="pinRequired">
    <form class="pin-form">
        <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="PIN" name="pin" [(ngModel)]="pin">
          </mat-form-field>
          <button mat-raised-button (click)="loadOrder()" [disabled]="!pin">OK</button>
        </div>
    </form>
</div>

<div *ngIf="order">
  <h1>Order {{order.PositionNumber}}</h1>
  <mat-list>
    <mat-list-item>
        <h2 matLine>Id</h2>
        <p matLine>{{order.Id}}</p>
    </mat-list-item>
    <mat-list-item>
      <h2 matLine>Status</h2>
      <p matLine>{{order.Status}}</p>
    </mat-list-item>
    <mat-list-item>
        <h2 matLine>Created At</h2>
        <p matLine>{{order.CreatedAt | date}}</p>
    </mat-list-item>
  </mat-list>

  <h2>Loading Tasks</h2>
  <mat-expansion-panel *ngFor="let loadingTask of order.LoadingTasks">
      <mat-expansion-panel-header>
        <mat-panel-title>
            {{loadingTask.CustomerOrderNumber}} ({{loadingTask.Id}})
        </mat-panel-title>
        <mat-panel-description>
          {{loadingTask.TaskType}}
        </mat-panel-description>
      </mat-expansion-panel-header>
    
      <mat-list>
        <mat-list-item>
          <h2 matLine>Load Description</h2>
          <p matLine>{{loadingTask.LoadDescription}}</p>
        </mat-list-item>
        <mat-list-item>
          <h2 matLine>Loading Instructions</h2>
          <p matLine>{{loadingTask.LoadingInstructions}}</p>
        </mat-list-item>
        <mat-list-item>
          <h2 matLine>Special Instructions</h2>
          <p matLine>{{loadingTask.SpecialInstructions}}</p>
        </mat-list-item>
        <mat-list-item>
          <h2 matLine>Pallet Exchange</h2>
          <p matLine>{{loadingTask.WithPalletExchange ? 'Yes': 'No'}}</p>
        </mat-list-item>
      </mat-list>
  </mat-expansion-panel>
</div>

<div style="margin-top:20px">
  <button mat-raised-button routerLink="/landing">Back</button>
</div>