<form class="order-form">
    <div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Order ID" name="orderId" [(ngModel)]="orderId">
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button (click)="loadOrder()" [disabled]="!orderId">Load</button>
    </div>
</form>