<div style="text-align:center">
    <h1>
      Welcome to Fernfracht Tracking!
    </h1>
    <div>
      <img src="assets/app-icon.png">
    </div>
  
    <app-load-order-form></app-load-order-form>
    <app-recent-orders-list></app-recent-orders-list>  
</div>